.box-layout {
  align-items : center;
  background : url('/images/bg.jpg');
  background-size : cover; // always cover the container with the image.
  display : flex;
  height : 100vh; // view port height 100 percent.
  justify-content : center;
  width : 100vw; // view port width 100 percent.
}

  .box-layout__box {
    background: fade-out(white, .55);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
  }

  .box-layout__title {
    margin : 0 0 $m-size 0;
    line-height : 1; // all text has a line height.
  }